.item-section {
    display: grid;
    grid-template-columns: repeat(var(--char-row-length, 8), 180px);
    gap: 0px;
    border-top: solid;
    border-top-width: 2px;
    border-top-color: #555;
    padding-top: 5px;
}

    .item-section.no-padding {
        border: none;
        gap: 0;
        grid-template-columns: repeat(1, 180px);
    }

    .item-section.equipment {
        grid-template-columns: repeat(1, 180px);
    }

.item-container{
    width: 180px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}