.sprite-card {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 2px;
    overflow: hidden;
    z-index: 100;
    cursor: pointer;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprite-card.no-background {
    background-color: transparent;
}

/* Apply center alignment only when the card contains an image */
    .sprite-card:has(.item-sprite) {
        align-items: center;
    }

.sprite-card .item-sprite {
    width: 80%;
    height: 80%;
    object-fit: contain;
    image-rendering: pixelated;
    filter: drop-shadow(1px 0 0 black)
            drop-shadow(-1px 0 0 black)
            drop-shadow(0 1px 0 black)
            drop-shadow(0 -1px 0 black);
}

.unknown {
    font: 11px monospace;
    color: white;
    padding-bottom: 2px;
    text-shadow: rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px -1px 0px, rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) 1px 1px 0px;
}

.loading-spinner {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-top: 2px solid #545454;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.enchantment-overlay {
    position: absolute;
    bottom: 1px;
    right: 1px;
    pointer-events: none; /* Prevents overlay from blocking mouse events */
}