.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    height: 100vh;
}

main {
    flex: 1;
    background-color: #212121;
    overflow-y: auto;
    overflow-x: hidden;
}

.navmenu {
    margin-bottom: 10px;
    background-color: rgba(44,44,44,0.75);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #212121;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 20px;
    border: 3px solid #212121;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #777;
    }