@using MDTadusMod.Components.Shared

<nav class="flex-column">
    <div class="intro">Muledump Tadusmod</div>
    <div class="right">
        <OptionsMenu />
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Accounts
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="accounts">
                Manage Accounts
            </NavLink>
        </div>

    </div>
</nav>
